In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

from env import host, user, password

In [2]:
def get_db_url(database):
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    return url


pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url('employees'))

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [5]:
# 5. Once you have successfully run a query:
# a. Intentionally make a typo in the database url. What kind of error message do you see?
# timeout error
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', 'mysql+pymysql://user:password@123.123.123.123/employees')

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '123.123.123.123' (timed out)")
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [6]:
# Intentionally make an error in your SQL query. What does the error message look like?
# SQL syntax error
pd.read_sql('SELEC * FROM employees LIMIT 5 OFFSET 50', get_db_url('employees'))

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SELEC * FROM employees LIMIT 5 OFFSET 50' at line 1")
[SQL: SELEC * FROM employees LIMIT 5 OFFSET 50]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [9]:
# 6. Read the employees and titles tables into two separate DataFrames.
employees = pd.read_sql('SELECT * FROM employees', get_db_url('employees'))
titles = pd.read_sql('SELECT * FROM titles', get_db_url('employees'))

In [10]:
employees

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [11]:
titles

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [34]:
# 7. How many rows and columns do you have in each DataFrame? Is that what you expected?
# employees: 6 columns, 300023 rows
# titles: 4 columns, 443307 rows
employees.info()
titles.info()
employees.shape
titles.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

(443308, 4)

In [15]:
# Display the summary statistics for each DataFrame.
employees.describe()
titles.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

In [21]:
# How many unique titles are in the titles DataFrame?
# 7
titles.title.value_counts()

Engineer              115003
Staff                 107391
Senior Engineer        97750
Senior Staff           92853
Technique Leader       15159
Assistant Engineer     15128
Manager                   24
Name: title, dtype: int64

In [35]:
# What is the oldest date in the to_date column?
titles.to_date.sort_values(ascending = True).head(1)

16064    1985-03-01
Name: to_date, dtype: object

In [30]:
# What is the most recent date in the to_date column?
# 2002-08-01
from datetime import date
titles[titles.to_date <= date.today()].sort_values(by='to_date', ascending=False)

        emp_no             title   from_date     to_date
154568  204324  Technique Leader  1985-02-10  2002-08-01
119478   90666          Engineer  1997-08-01  2002-08-01
387242  461960             Staff  1997-08-01  2002-08-01
319569  416185             Staff  1999-10-28  2002-08-01
67905    55876             Staff  1995-08-01  2002-08-01
...        ...               ...         ...         ...
277603  287732             Staff  1985-04-14  1985-04-17
35527    34059   Senior Engineer  1985-02-10  1985-03-23
346216  434232             Staff  1985-02-26  1985-03-20
406358  474918          Engineer  1985-02-10  1985-03-11
16064    20869          Engineer  1985-02-17  1985-03-01

[203184 rows x 4 columns]