In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

from env import host, user, password

In [2]:
def get_db_url(database):
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    return url


pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url('employees'))

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

In [3]:
# 5. Once you have successfully run a query:
# a. Intentionally make a typo in the database url. What kind of error message do you see?
# timeout error
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', 'mysql+pymysql://user:password@123.123.123.123/employees')

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '123.123.123.123' (timed out)")
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
# Intentionally make an error in your SQL query. What does the error message look like?
# SQL syntax error
pd.read_sql('SELEC * FROM employees LIMIT 5 OFFSET 50', get_db_url('employees'))

In [ ]:
# 6. Read the employees and titles tables into two separate DataFrames.
employees = pd.read_sql('SELECT * FROM employees', get_db_url('employees'))
titles = pd.read_sql('SELECT * FROM titles', get_db_url('employees'))

In [ ]:
employees

In [ ]:
titles

In [ ]:
# 7. How many rows and columns do you have in each DataFrame? Is that what you expected?
# employees: 6 columns, 300023 rows
# titles: 4 columns, 443307 rows
employees.info()
titles.info()
employees.shape
titles.shape

In [ ]:
# Display the summary statistics for each DataFrame.
employees.describe()
titles.describe()

In [ ]:
# How many unique titles are in the titles DataFrame?
# 7
titles.title.value_counts()

In [ ]:
# What is the oldest date in the to_date column?
titles.to_date.sort_values(ascending = True).head(1)

In [ ]:
# What is the most recent date in the to_date column?
# 2002-08-01
from datetime import date
titles[titles.to_date <= date.today()].sort_values(by='to_date', ascending=False)

# Exercises II

1. Copy the users and roles DataFrames from the examples above

In [4]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [5]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

2. What is the result of using a right join on the DataFrames?

In [6]:
join_right = users.merge(roles, left_on='role_id', right_on='id', how='right', indicator=True)

In [7]:
join_right

   id_x name_x  role_id  id_y     name_y      _merge
0   1.0    bob      1.0     1      admin        both
1   2.0    joe      2.0     2     author        both
2   3.0  sally      3.0     3   reviewer        both
3   4.0   adam      3.0     3   reviewer        both
4   NaN    NaN      NaN     4  commenter  right_only

3. What is the result of using an outer join on the DataFrames?

In [ ]:
join_outer = users.merge(roles, left_on='role_id', right_on='id', how='outer', indicator=True)
join_outer

4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
# nonsense
users.drop(columns='role_id')
users.merge(roles, left_on='role_id', right_on='id', how='outer', indicator=True)

Load the mpg dataset from PyDataset.

In [24]:
from pydataset import data
mpg = data('mpg', show_doc = True)
mpg = data('mpg')
mpg.head()

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

6. Output and read the documentation for the mpg dataset.

In [ ]:
mpg.info()

In [26]:
rows, columns = mpg.shape
print(f'{rows} rows, {columns} columns')

234 rows, 11 columns

In [ ]:
# 234 rows  11 columns
mpg

8. Check out your column names and perform any cleanup you may want on them.

In [9]:
mpg.fl.unique()

array(['p', 'r', 'e', 'd', 'c'], dtype=object)

10. How many different manufacturers are there?

In [10]:
mpg.manufacturer.unique()
mpg.manufacturer.nunique()

15

11. How many different models are there?

In [11]:
mpg.model.nunique()

38

12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [12]:
mpg['mileage_difference'] = mpg.hwy - mpg.cty
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [28]:
mpg['average_mileage'] = (mpg.cty + mpg.hwy)/2
mpg['average_mileage_2'] = mpg[['cty', 'hwy']].mean(axis=1)
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,average_mileage_2
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,21.5

14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [35]:
mpg['is_automatic'] = np.where(mpg.trans.str.find('auto') == 0, 'yes', 'no')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,average_mileage_2,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5,yes
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0,no
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5,no
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5,yes
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,23.5,yes
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,25.0,no
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,21.0,yes
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,22.0,no
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,21.5,yes

15. Using the mpg dataset, find out which manufacturer has the best miles per gallon on average?

In [31]:
mpg.groupby('manufacturer').average_mileage.mean().idxmax()
# honda

'honda'

16. Do automatic or manual cars have better miles per gallon?

In [37]:
mpg.groupby('is_automatic').average_mileage.mean()

is_automatic
no     22.227273
yes    19.130573
Name: average_mileage, dtype: float64

In [ ]:
# manual