In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# Exercises part I

In [5]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [32]:
# 1. Determine the number of elements in fruits.
fruits.size

17

In [34]:
fruits.shape
len(fruits)

17

In [7]:
# 2. Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [35]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [8]:
# 3. Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [36]:
fruits.values.tolist() # wraps it up in a list

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [9]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype
# dtype('0') means (python) objects

dtype('O')

In [13]:
# 5. Output only the first five values from fruits. 
#    Output the last three values. 
#    Output two random values from fruits.
fruits.head(5)
fruits.tail(3)
fruits.sample(2)

3    pineapple
8     honeydew
dtype: object

In [37]:
fruits.head() # by default its 5

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [19]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [20]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

In [40]:
fruits.unique() # Unique values
fruits.unique().tolist()
fruits.nunique() # number of unique values

13

In [21]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

In [30]:
# 9. Determine the string value that occurs most frequently in fruits.
max(fruits.value_counts())

4

In [41]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [44]:
fruits.value_counts().idxmax()

'kiwi'

In [45]:
fruits.value_counts().nlargest(n=1, keep='all')

kiwi    4
dtype: int64

In [31]:
# 10. Determine the string value that occurs least frequently in fruits.
min(fruits.value_counts())

1

In [46]:
fruits.value_counts().tail(11) # lists the least 11

gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

In [47]:
fruits.value_counts().nsmallest(n=1, keep='all') # n = number of rows to return pandas.dataframe.nlargest 'all' do not drop any duplicates, even if it means selecting more than one row.

gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

# Exercises Part II

1. Capitalize all the string values in fruits.

In [62]:
type(fruits) # 'fruits' holds a series

fruits.str # .str allows us to apply string methods to string values in a series

fruits.str.capitalize() # capitalize() method allows us to capitalize string values in the series

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [63]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

3. Output the number of vowels in each and every string value.

In [78]:


def count_vowels(string):
    vowels = ['a', 'e', 'i', 'o', 'u']
    count = 0
    for v in vowels:
        if v in string.lower():
            count += 1
    return count

count_vowels('fruit')

2

In [76]:
# let for let  in fruit.lower() if let in vowels 
# another way to write it

SyntaxError: invalid syntax (<ipython-input-76-08c49b20cd1e>, line 1)

In [88]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [82]:
# another way
fruits.str.

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [83]:
max(fruits, key = len)

'honeycrisp apple'

4. Write the code to get the longest string value from fruits.

In [85]:
max(fruits, key = len)

'honeycrisp apple'

In [86]:
# 6. 
fruits [ fruits.apply(lambda x: count('o')]

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (<ipython-input-86-875ef97915a6>, line 2)