In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [5]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [32]:
# 1. Determine the number of elements in fruits.
fruits.size

17

In [34]:
fruits.shape
len(fruits)

17

In [7]:
# 2. Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [35]:
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [8]:
# 3. Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [36]:
fruits.values.tolist() # wraps it up in a list

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [9]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype
# dtype('0') means (python) objects

dtype('O')

In [13]:
# 5. Output only the first five values from fruits. 
#    Output the last three values. 
#    Output two random values from fruits.
fruits.head(5)
fruits.tail(3)
fruits.sample(2)

3    pineapple
8     honeydew
dtype: object

In [37]:
fruits.head() # by default its 5

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [19]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [20]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

In [40]:
fruits.unique() # Unique values
fruits.unique().tolist()
fruits.nunique() # number of unique values

13

In [21]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

In [30]:
# 9. Determine the string value that occurs most frequently in fruits.
max(fruits.value_counts())

4

In [41]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

In [44]:
fruits.value_counts().idxmax()

'kiwi'

In [45]:
fruits.value_counts().nlargest(n=1, keep='all')

kiwi    4
dtype: int64

In [31]:
# 10. Determine the string value that occurs least frequently in fruits.
min(fruits.value_counts())

1

In [46]:
fruits.value_counts().tail(11) # lists the least 11

gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64

In [47]:
fruits.value_counts().nsmallest(n=1, keep='all') # n = number of rows to return pandas.dataframe.nlargest 'all' do not drop any duplicates, even if it means selecting more than one row.

gooseberry          1
tomato              1
honeycrisp apple    1
watermelon          1
honeydew            1
papaya              1
gala apple          1
pineapple           1
blueberry           1
strawberry          1
blackberry          1
dtype: int64