In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
iris = sns.load_dataset('iris')
iris

1. What does the distribution of petal lengths look like?

In [ ]:
sns.histplot(iris.petal_length)

2. Is there a correlation between petal length and petal width?

In [ ]:
sns.relplot(x='petal_length', y='petal_width', data=iris)
# There a appears to be a positive correlation

3. Would it be reasonable to predict species based on sepal width and sepal length?

In [ ]:
#no
sns.boxplot(data=iris, y='sepal_length', x='sepal_width', hue='species')
plt.title('Sepal l and w by Species')

plt.tight_layout()
plt.show()

4. Which features would be best used to predict species?

In [ ]:
sns.relplot(x='petal_length', y='petal_width', data=iris, hue='species')
# A combo of petal length and width

Using the lesson as an example, use seaborn's load_dataset function to load the anscombe data set. Use pandas to group the data by the dataset column, and calculate summary statistics for each dataset. What do you notice?

Plot the x and y values from the anscombe data. Each dataset should be in a separate column.

In [ ]:
anscombe = sns.load_dataset('anscombe')
anscombe.head()

In [ ]:
dataset = anscombe.groupby(by='dataset')
dataset.describe()

In [ ]:
sns.relplot(x='x', y='y', col='dataset', data=anscombe)

2. Load the InsectSprays dataset and read it's documentation. Create a boxplot that shows the effectiveness of the different insect sprays.

In [ ]:
from pydataset import data
insect_sprays = data("InsectSprays")
insect_sprays

In [ ]:
sns.boxplot(data=insect_sprays, y='count', x='spray')
plt.title('An insect_sprays boxplot')

3. Load the swiss dataset and read it's documentation. Create visualizations to answer the following questions:

In [ ]:
from pydataset import data
swiss = data("swiss")
swiss

- Create an attribute named is_catholic that holds a boolean value of whether or not the province is Catholic. (Choose a cutoff point for what constitutes catholic)

In [ ]:
swiss['is_catholic'] = swiss.Catholic > 50
swiss

- Does whether or not a province is Catholic influence fertility?

In [ ]:
sns.relplot(x='Catholic', y='Fertility', hue='is_catholic', data=swiss)
# No correlation

- What measure correlates most strongly with fertility?

In [ ]:
# Education has the highest correlation with an r value of -.66
sns.relplot(x='Fertility', y='Education', data=swiss)

In [ ]:
sns.pairplot(swiss)

In [ ]:
r_list= []
r = np.corrcoef(swiss.Fertility, swiss.Agriculture)
r_list.append(r)
r = np.corrcoef(swiss.Fertility, swiss.Examination)
r_list.append(r)
r = np.corrcoef(swiss.Fertility, swiss.Education)
r_list.append(r)
r = np.corrcoef(swiss.Fertility, swiss.Catholic)
r_list.append(r)
r = np.corrcoef(swiss.Fertility, swiss['Infant.Mortality'])
r_list.append(r)
r = np.corrcoef(swiss.Fertility, swiss.is_catholic)
r_list.append(r)

r_list

In [ ]:
m_list = []
for n in swiss.columns:
    m = max(swiss[n])
    m_list.append(m)
    
m_list

In [ ]:
max(swiss.Fertility)

4. Using the chipotle dataset from the previous exercise, create a bar chart that shows the 4 most popular items and the revenue produced by each.

In [3]:
from env import host, user, password

def get_db_url(database):
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    return url

orders = pd.read_sql('Select * FROM orders', get_db_url('chipotle'))
orders

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
items_by_quantity = pd.crosstab(orders.item_name, orders.quantity, margins=True)
items_by_quantity.sort_values(by='All', ascending=False).head()
top_4 = ['Chicken Bowl', 'Chicken Burrito', 'Chips and Guacamole', 'Steak Burrito']

In [5]:
def string_to_float(b):
    b = b.replace('$', '') # Replaces '$' with an empty space ''.
    b = float(b)
    return b

orders['item_price'] = orders.item_price.apply(string_to_float)
total_price = orders.groupby('item_name').item_price.sum()
total_price

item_name
6 Pack Soft Drink                         356.95
Barbacoa Bowl                             672.36
Barbacoa Burrito                          894.75
Barbacoa Crispy Tacos                     120.21
Barbacoa Salad Bowl                       106.40
Barbacoa Soft Tacos                       250.46
Bottled Water                             302.56
Bowl                                       29.60
Burrito                                    44.40
Canned Soda                               137.34
Canned Soft Drink                         438.75
Carnitas Bowl                             736.71
Carnitas Burrito                          597.83
Carnitas Crispy Tacos                      77.96
Carnitas Salad                              8.99
Carnitas Salad Bowl                        66.34
Carnitas Soft Tacos                       375.94
Chicken Bowl                             7342.73
Chicken Burrito                          5575.82
Chicken Crispy Tacos                      472.13
Chicken Salad                              81.09
Chicken Salad Bowl                       1228.75
Chicken Soft Tacos                       1108.09
Chips                                     494.34
Chips and Fresh Tomato Salsa              361.36
Chips and Guacamole                      2201.04
Chips and Mild Fresh Tomato Salsa           3.00
Chips and Roasted Chili Corn Salsa         67.85
Chips and Roasted Chili-Corn Salsa         43.02
Chips and Tomatillo Green Chili Salsa     132.75
Chips and Tomatillo Red Chili Salsa       147.50
Chips and Tomatillo-Green Chili Salsa      78.87
Chips and Tomatillo-Red Chili Salsa        59.75
Crispy Tacos                               14.80
Izze                                       67.80
Nantucket Nectar                           98.31
Salad                                      14.80
Side of Chips                             185.90
Steak Bowl                               2260.19
Steak Burrito                            3851.43
Steak Crispy Tacos                        357.34
Steak Salad                                35.66
Steak Salad Bowl                          343.59
Steak Soft Tacos                          536.05
Veggie Bowl                               867.99
Veggie Burrito                            934.77
Veggie Crispy Tacos                         8.49
Veggie Salad                               50.94
Veggie Salad Bowl                         182.50
Veggie Soft Tacos                          73.96
Name: item_price, dtype: float64

In [14]:
x_list = []
for n in top_4:
    x = round(total_price[n], 2)
    x_list.append(x)
    print(f'The price for a(n) {n} is {x}')
    
x_list

The price for a(n) Chicken Bowl is 7342.73
The price for a(n) Chicken Burrito is 5575.82
The price for a(n) Chips and Guacamole is 2201.04
The price for a(n) Steak Burrito is 3851.43

[7342.73, 5575.82, 2201.04, 3851.43]

In [22]:
most_popular_items = pd.DataFrame(x_list, index=top_4)
most_popular_items

                           0
Chicken Bowl         7342.73
Chicken Burrito      5575.82
Chips and Guacamole  2201.04
Steak Burrito        3851.43

In [24]:
sns.barplot(most_popular_items)
plt.show()

/opt/homebrew/anaconda3/lib/python3.8/site-packages/seaborn/_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().